---
layout: landing-page
---

		<!-- One -->
			<section id="philosophy" class="wrapper style1">
				<header class="major">
					<h2>{{ site.description }}</h2>
					<h3>How we treat games</h3>
				</header>
				<div class="container">
					<div class="row flex-on-large-screen">
						<div class="4u flex-on-large-screen">
							<section class="special box">
								<i class="icon fa-lightbulb major"></i>
								<h3><b>Uniqueness</b></h3>
								<p>We don't simply follow the majority. We always try to create unique games to enhance our value.</p>
							</section>
						</div>
						<div class="4u flex-on-large-screen">
							<section class="special box">
								<i class="icon fa-check major"></i>
								<h3><b>Completeness</b></h3>
								<p>Completeness of a game affects player's ongoing satisfaction. We set high standards for the quality of a game and strive to make a game that meets those standards.</p>
							</section>
						</div>
						<div class="4u flex-on-large-screen">
							<section class="special box">
								<i class="icon fa-hands major"></i>
								<h3><b>Responsibility</b></h3>
								<p>Nowadays, the influence of games is just as strong as other cultural products. We won't ignore social issues like hatred or discrimination on a particular group or individual.</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Two -->
			<section id="viewport" class="wrapper style2">
				<header class="major">
					<h2>VIEWPORT</h2>
					<h3>A mysterious mobile puzzle game</h3>
				</header>
				<div class="container">		
					<div class="embed-container full-embed">
						<iframe src="https://www.youtube.com/embed/JRfKDSGoIUw?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="game-description-container">
						<div class="game-description">							
							<img src="images/viewport-puzzles.jpg" class="image fit"/>
							<h3>Unique Puzzles with Viewport</h3>
							<p>
								Whole new type of puzzle, inspired by Viewport feature in 3D software. It will stimulate player's spatial ability and creativity.
							</p>
						</div>
						<div class="game-description">							
							<img src="images/viewport-story.jpg" class="image fit"/>
							<h3>Mysterious Stories</h3>
							<p>
								Players would participate in an unknown experiment as Subject 002. Every midnight, Subject 002 receives a mysterious message from an unknown person.
							</p>
						</div>
					</div>
					<div class="awards-container">
						<img src="images/awards/mwu-best-student-winner.png" class="image awards" alt="MWU KR '18 Best Student WINNER"/>
						<img src="images/awards/g-rank-challenge-seoul.png" class="image awards" alt="G-Rank Challenge Seoul WINNER"/>
						<img src="images/awards/gigdc-university-bronze.png" class="image awards" alt="2018 GIGDC Univ. Bronze"/>
						<img src="images/awards/indie-tuh-top3.png" class="image awards" alt="2018 Indie-tuh Awards Top3"/>
					</div>	
					<div class="download-btn-container no-bottom-margin">
						<div>
							<a target="_blank" rel="noopener noreferrer" href='https://play.google.com/store/apps/details?id=com.dimareagames.viewport&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
								<img alt='Get It on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
							</a>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="news" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2><a href="{{ site.baseurl }}/news">NEWS</a></h2>
					</header>
					<div class="card-list">
						{% assign news_counter = 0 %}
						{% for post in site.categories.news %}
							{% unless post.categories contains 'ko' %}
								{% if news_counter < 4 %}
									<div class="card-post">
					                    <a href="{{ site.baseurl }}{{ post.url }}">
					                    	<div class="image thumbnail-container">
							                    {% if post.thumbnail-img %}
							                        <img src="{{ site.baseurl }}{{ post.thumbnail-img }}" class="thumbnail"/>
							                    {% else %}
							                        <img src="/images/news-default.jpg" class="thumbnail"/>
							                    {% endif %}
							                </div>		
					                        <h3 class="no-space">{{ post.title }}</h3>
					                        <p>{{ post.content | strip_html }}</p>
				                        </a>
									</div>
								{% endif %}
								{% assign news_counter = news_counter | plus: 1 %}
							{% endunless %}
						{% endfor %}
					</div>
					<div class="align-right">
                    	<a href="{{ site.baseurl }}/news" class="button">More</a>
					</div>
					<!--
					<hr id="devblog" class="balanced">
					<header class="major">
						<h2><a href="{{ site.baseurl }}/devblog">DEV BLOG</a></h2>
					</header>
					<div class="card-list">
						{% for post in site.categories.devblog limit:4 %}
							<div class="card-post">
			                    <a href="{{ site.baseurl }}{{ post.url }}">
			                    	<div class="image thumbnail-container">
					                    {% if post.thumbnail-img %}
					                        <img src="{{ site.baseurl }}{{ post.thumbnail-img }}" class="thumbnail"/>
					                    {% else %}
					                        <img src="/images/devblog-default.jpg" class="thumbnail"/>
					                    {% endif %}
					                </div>
			                        <h3 class="no-space">{{ post.title }}</h3>
                        			{% if post.author %}<h6 class="no-space">by {{ post.author }}</h6>{% endif %}
			                        <p>{{ post.content | strip_html }}</p>
		                        </a>
							</div>
						{% endfor %}
					</div>
					<div class="align-right">
                    	<a href="{{ site.baseurl }}/devblog" class="button">More</a>
					</div>
					-->
				</div>
			</section>						
		
			
		<!-- Five -->
			<section id="companyinfo" class="wrapper style2">
				<header class="major">
					<h2>ABOUT US</h2>
					<h3>Us, DimArea Games</h3>
				</header>
				<div class="container">			
					<div class="row">		
						<div class="6u">
							<h3 class="no-space">Name</h3>
							<p>The name of DimArea Games comes from the name of a laboratory, DimArea Labs, which appears in the worldview of our games. Our first game Viewport covers the story before DimArea Labs was founded.</p>
						</div>
						<div class="6u">
							<h3 class="no-space">Members</h3>
							<p>For now, DimArea Games is a one-man game development team. I am in charge of game design, development, graphic design, writing. Some graphic assets and all sound assets were obtained through online asset stores such as Unity Asset Store.</p>			
							<p style="text-align: center"><b>Sung-oh Park</b> | e-mail: pso999@naver.com</p>
						</div>
					</div>
				</div>
			</section>