<!DOCTYPE html>
<html>

  {% include {{ site.baseurl_ko }}/head-privacy.html %}

	<body id="top">
        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <a href="{{ site.url }}{{ site.baseurl_ko }}" class="site-title">
                    <img src="images/dimareagames-logo.png" class="image logo" alt="DimArea Games"/>
                </a>
            </div>
        </section>
        {{ content }}
        {% include {{ site.baseurl_ko }}/footer.html %}

    </body>

</html>
