---
layout: news-layout
---

<!-- Banner -->
<section id="banner" class="news-banner">
    <div class="inner">
        <h2><a href="{{ site.baseurl }}/news">News</a></h2>
    </div>
</section>
<section id="news-list" class="post-list">
    <div class="container">
        {% for post in site.categories.news %}
            {% unless post.categories contains 'ko' %}
                <div class="post-preview row">
                    <div class="4u">
                        <div class="thumbnail-container image">
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                {% if post.thumbnail-img %}
                                    <img src="{{ site.baseurl }}{{ post.thumbnail-img }}" class="thumbnail"/>
                                {% else %}
                                    <img src="/images/news-default.jpg" class="thumbnail"/>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="8u">
                        <div class="preview-content">
                            <a href="{{ site.baseurl }}{{ post.url }}">
                                <h2 class="no-space">{{ post.title }}</h2>
                                <p>{{ post.content | strip_html }}</p>
                            </a>
                            <a href="{{ site.baseurl }}{{ post.url }}" class="button alt">Read More</a>
                        </div>
                    </div>
                </div>
                <hr class="post-preview-hr">
            {% endunless %}
        {% endfor %}
    </div>
</section>