<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div style="text-align: center; width: 100%;">
                <p style="font-size: 11pt">DimArea Games has its own YouTube channel and Facebook page.<br>Subscribe and follow us to receive our latest updates.</p>
                <ul class="icons">
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCKStwp2IewjVqHsfivQIM0A" class="icon-b fa-youtube"><span class="label">Youtube</span></a>
                    </li>                    
                    <li>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/DimAreaGames/" class="icon-b fa-facebook"><span class="label">Facebook</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p class="align-center">© 2019 DimArea Games. All rights reserved. | <a href="/privacy.html" class="privacy-link">Privacy Policy</a></p>
        </div>
    </div>
</footer>
