<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div style="text-align: center; width: 100%;">
                <p style="font-size: 11pt">딤에어리어 게임즈는 유튜브 채널과 페이스북 페이지를 운영하고 있습니다.<br>구독/팔로우를 하시고 딤에어리어 게임즈의 소식을 가장 먼저 받아보세요.</p>
                <ul class="icons">
                    <li><a href="https://www.youtube.com/channel/UCKStwp2IewjVqHsfivQIM0A" class="icon-b fa-youtube"><span class="label">Youtube</span></a></li>                    
                    <li><a href="https://www.facebook.com/DimAreaGames/" class="icon-b fa-facebook"><span class="label">Facebook</span></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p class="align-center">© 2018 DimArea Games. All rights reserved. | <a href="/privacy.html" class="privacy-link">개인 정보 처리 방침</a></p>
        </div>
    </div>
</footer>
