<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a onclick="fnMove('top')">Top</a></li>
            <li><a onclick="fnMove('2')">Viewport</a></li>
            <li><a onclick="fnMove('3')">History</a></li>
            <li><a onclick="fnMove('4')">Company</a></li>
            <!--
            <li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
            <li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
            <li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li><a href="#" class="button special">Sign Up</a></li>
            -->
        </ul>
    </nav>
</header>

<script>
    function fnMove(seq){
        if (seq == 'top')
            var offset = $("#top").offset();
        else
            var offset = $("#section" + seq).offset();
        $('html, body').animate({scrollTop : offset.top}, 400);
    }
</script>