<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1>
        <a href="{{ site.baseurl }}" class="site-title">
            <img src="images/dimareagames-logo-horizontal.png" alt="DimArea Games"/>
        </a>
    </h1>
    <nav id="nav">
        <ul>
            <li><a onclick="fnMove('top')">HOME</a></li>
            <li><a onclick="fnMove('viewport')">VIEWPORT</a></li>
            <li><a onclick="fnMove('news')">NEWS</a></li>
            <!-- <li><a onclick="fnMove('devblog')">DEV BLOG</a></li> -->
            <li><a onclick="fnMove('companyinfo')">ABOUT US</a></li>
        </ul>
    </nav>
</header>

<script>
    function fnMove(sectionid){
        var offset = $("#" + sectionid).offset();
        $('html, body').animate({scrollTop : offset.top}, 400);
    }
</script>