<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1>
        <a href="{{ site.baseurl }}" class="site-title">
            <img src="images/dimareagames-logo-horizontal.png" alt="DimArea Games"/>
        </a>
    </h1>
    <nav id="nav">
        <ul>
            <li><a onclick="fnMove('top')">홈</a></li>
            <li><a onclick="fnMove('2')">뷰포트</a></li>
            <li><a onclick="fnMove('3')">수상 내역</a></li>
            <li><a onclick="fnMove('4')">Dev Blog</a></li>
            <li><a onclick="fnMove('5')">회사 소개</a></li>
        </ul>
    </nav>
</header>

<script>
    function fnMove(seq){
        if (seq == 'top')
            var offset = $("#top").offset();
        else
            var offset = $("#section" + seq).offset();
        $('html, body').animate({scrollTop : offset.top}, 400);
    }
</script>