<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1>
        <a href="{{ site.baseurl }}/" class="site-title">
            <img src="images/dimareagames-logo-horizontal.png" alt="DimArea Games"/>
        </a>
    </h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">홈</a></li>
            <li><a href="{{ site.baseurl }}/news.html">소식</a></li>
            <li><a href="{{ site.baseurl }}/devblog.html">Dev Blog</a></li>
        </ul>
    </nav>
</header>