<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<head>    
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ page.content | strip_html }}" />
    <meta name="keywords" content="" />
    
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="{{ site.url }}/js/jquery.min.js"></script>
    <script src="{{ site.url }}/js/skel.min.js"></script>
    <script src="{{ site.url }}/js/skel-layers.min.js"></script>
    <script src="{{ site.url }}/js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="{{ site.url }}/css/skel.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
        <link rel="stylesheet" href="{{ site.url }}/css/style-xlarge.css" />
    </noscript>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1f1f1f">
    <meta name="msapplication-TileColor" content="#1f1f1f">
    <meta name="theme-color" content="#1f1f1f">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.content | strip_html }}">
    {% if page.thumbnail-img %}
        <meta property="og:image" content="{{ page.thumbnail-img }}">
    {% else %}
        <meta property="og:image" content="/images/devblog-default.jpg">
    {% endif %}
    <meta property="og:url" content="{{ site.url }}">
</head>
