---
layout: ko/landing-page
---

		<!-- One -->
			<section id="philosophy" class="wrapper style1">
				<header class="major">
					<h2>{{ site.description_ko }}</h2>
					<h3>게임에 대한 철학</h3>
				</header>
				<div class="container">
					<div class="row flex-on-large-screen">
						<div class="4u flex-on-large-screen">
							<section class="special box">
								<i class="icon fa-lightbulb major"></i>
								<h3><b>새로움</b></h3>
								<p>모두가 걸어가는 길을 그대로 따라가지 않습니다. 우리만의 게임을 만드는 것이 우리의 가치를 높이는 일입니다.</p>
							</section>
						</div>
						<div class="4u flex-on-large-screen">
							<section class="special box">
								<i class="icon fa-check major"></i>
								<h3><b>완성도</b></h3>
								<p>완성도는 지속적인 감상에 영향을 끼칩니다. 게임의 퀄리티에 대해 높은 기준을 세우고, 그 기준을 충족하는 게임을 만들고자 노력합니다.</p>
							</section>
						</div>
						<div class="4u flex-on-large-screen">
							<section class="special box">
								<i class="icon fa-hands major"></i>
								<h3><b>책임감</b></h3>
								<p>게임의 영향력은 다른 문화 상품만큼 강력합니다. 특정 집단 혹은 개인에 대한 혐오, 차별 및 다양한 사회 문제를 경시하지 않을 것입니다.</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Two -->
			<section id="viewport" class="wrapper style2">
				<header class="major">
					<h2>뷰포트 | VIEWPORT</h2>
					<h3>미스터리 모바일 퍼즐 게임</h3>
				</header>
				<div class="container">		
					<div class="embed-container full-embed">
						<iframe src="https://www.youtube.com/embed/_i4idabUlKY?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="game-description-container">
						<div class="game-description">							
							<img src="images/viewport-puzzles.jpg" class="image fit"/>
							<h3>뷰포트를 활용한 색다른 퍼즐</h3>
							<p>
								3D 프로그램의 뷰포트 기능에서 착안한 새로운 퍼즐 방식입니다. 플레이어의 공간지각 능력과 창의력을 동시에 자극합니다.
							</p>
						</div>
						<div class="game-description">							
							<img src="images/viewport-story.jpg" class="image fit"/>
							<h3>미스터리한 스토리</h3>
							<p>
								플레이어는 정체 모를 실험에 참여한 '피험자 002번'이 됩니다. 실험을 진행하던 중 누군가 새벽에 보낸 메시지를 받으면서 이야기는 미스터리하게 흘러갑니다.
							</p>
						</div>
					</div>
					<div class="awards-container">
						<img src="images/awards/mwu-best-student-winner.png" class="image awards" alt="MWU KR '18 Best Student WINNER"/>
						<img src="images/awards/g-rank-challenge-seoul.png" class="image awards" alt="G-Rank Challenge Seoul WINNER"/>
						<img src="images/awards/gigdc-university-bronze.png" class="image awards" alt="2018 GIGDC Univ. Bronze"/>
						<img src="images/awards/indie-tuh-top3.png" class="image awards" alt="2018 Indie-tuh Awards Top3"/>
					</div>	
					<div class="download-btn-container no-bottom-margin">
						<div>
							<a target="_blank" rel="noopener noreferrer" href='https://play.google.com/store/apps/details?id=com.dimareagames.viewport&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
								<img class="google-play-store-badge" alt='다운로드하기 Google Play' src='images/badge-google-play.png'/>
							</a>
						</div>
						<div>
							<a target="_blank" href="https://itunes.apple.com/kr/app/viewport-the-game/id1451790296?mt=8">
								<img class="app-store-badge" alt='다운로드하기 App Store' src='images/badge-app-store.svg'/>
							</a>
						</div>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="news" class="wrapper style1">
				<div class="container">
					<header class="major">
						<h2><a href="{{ site.baseurl_ko }}/news">소식</a></h2>
					</header>
					<div class="card-list">
						{% assign news = site.categories.news | where_exp: "post", "post.categories contains 'ko'" %}
						{% for post in news limit:4 %}
							<div class="card-post">
			                    <a href="{{ post.url }}">
			                    	<div class="image thumbnail-container">
					                    {% if post.thumbnail-img %}
					                        <img src="{{ post.thumbnail-img }}" class="thumbnail"/>
					                    {% else %}
					                        <img src="/images/news-default.jpg" class="thumbnail"/>
					                    {% endif %}
					                </div>		
			                        <h3 class="no-space">{{ post.title }}</h3>
			                        <p>{{ post.content | strip_html }}</p>
		                        </a>
							</div>
						{% endfor %}
					</div>
					<div class="align-right">
                    	<a href="{{ site.baseurl_ko }}/news" class="button">더 보기</a>
					</div>
					<hr id="devblog" class="balanced">
					<header class="major">
						<h2><a href="{{ site.baseurl_ko }}/devblog">DEV BLOG</a></h2>
					</header>
					<div class="card-list">
						{% assign devblog = site.categories.devblog | where_exp: "post", "post.categories contains 'ko'" %}
						{% for post in devblog limit:4 %}
							<div class="card-post">
			                    <a href="{{ post.url }}">
			                    	<div class="image thumbnail-container">
					                    {% if post.thumbnail-img %}
					                        <img src="{{ post.thumbnail-img }}" class="thumbnail"/>
					                    {% else %}
					                        <img src="/images/devblog-default.jpg" class="thumbnail"/>
					                    {% endif %}
					                </div>
			                        <h3 class="no-space">{{ post.title }}</h3>
                        			{% if post.author %}<h6 class="no-space">by {{ post.author }}</h6>{% endif %}
			                        <p>{{ post.content | strip_html }}</p>
		                        </a>
							</div>
						{% endfor %}
					</div>
					<div class="align-right">
                    	<a href="{{ site.baseurl_ko }}/devblog" class="button">더 보기</a>
					</div>
				</div>
			</section>						
		
			
		<!-- Five -->
			<section id="companyinfo" class="wrapper style2">
				<header class="major">
					<h2>팀 소개</h2>
					<h3>딤에어리어 게임즈 | DimArea Games</h3>
				</header>
				<div class="container">			
					<div class="row">		
						<div class="6u">
							<h3 class="no-space">이름</h3>
							<p>DimArea Games의 이름은 게임 속 세계관에 등장하는 동명의 연구소인 DimArea Labs에서 따왔습니다. 첫 번째 작품인 뷰포트는 DimArea Labs가 설립되기 이전의 이야기를 다루고 있습니다.</p>
						</div>
						<div class="6u">
							<h3 class="no-space">구성</h3>
							<p>DimArea Games는 1인 개발사입니다. 게임 기획, 개발, 그래픽 디자인, 스토리를 모두 담당했습니다. 일부 그래픽 애셋과 모든 사운드 애셋은 유니티 애셋 스토어 등 오픈 마켓을 통해 구하였습니다.</p>			
							<p style="text-align: center"><b>Sung-oh Park</b> | e-mail: pso999@naver.com</p>
						</div>
					</div>
				</div>
			</section>