---
layout: post-layout
---
{% if page.categories contains "devblog" %}
    <section id="banner" class="devblog-banner">
        <div class="inner">
            <h2>
                <a href="{{ site.baseurl }}/devblog">DEV BLOG</a>
            </h2>
        </div>
    </section>
{% else %}
    <section id="banner" class="news-banner">
        <div class="inner">
            <h2>
                <a href="{{ site.baseurl }}/news">소식</a>
            </h2>
        </div>
    </section>
{% endif %}
<section id="post-section">
    <article class="container post-container">
        <header class="major">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            </p>
        </header>

        <section class="post-content">
            {{ content }}
            <a onclick="goBack()" class="float-left">&larr; 뒤로가기</a>
        </section>
    </article>
</section>

<script>
function goBack() {
  window.history.back();
}
</script>